{% extends 'base.html' %}

{% block title %}
  {{ title }} | {{ block.super }}
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
  <h1>Добавление новости</h1>
  <form action="{% url 'add_news' %}" method="POST">
    {% csrf_token %}
{#    {{ form.non_field.errors }}#}

{% comment %}
    <div class="mb-3">
      <label for="{{ form.title.id_for_label }}" class="form-label">Название</label>
      {{ form.title }}
      <div class="invalid-feedback">
        {{ form.title.errors }}
      </div>
    </div>

    <div class="mb-3">
      <label for="{{ form.content.id_for_label }}" class="form-label">Текст</label>
      {{ form.content }}
      <div class="invalid-feedback">
        {{ form.content.errors }}
      </div>
    </div>

    <div class="mb-3">
      {{ form.is_published }}
      <label for="{{ form.is_published.id_for_label }}" class="form-check-label">Опубликовано?</label>
      <div class="invalid-feedback">
        {{ form.is_published.errors }}
      </div>
    </div>

    <div class="mb-3">
      <label for="{{ form.category.id_for_label }}" class="form-label">Категория</label>
      {{ form.category }}
      <div class="invalid-feedback">
        {{ form.category.errors }}
      </div>
    </div>
{% endcomment %}

{% comment %}
    {% for field in form %}
      <div class="mb-3">
        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
        {{ field }}
        <div class="invalid-feedback">
          {{ field.errors }}
        </div>
      </div>
    {% endfor %}
{% endcomment %}

  {{ form.as_p }}


{% comment %}
    todo: проверить работоспособность!!!
    {% for err in form.non_field_errors %}
      <p class="form-error">{{ err }}</p>
    {% endfor %}
{% endcomment %}


    <div class="d-grid gap-2">
      <button class="btn btn-primary btn-block" type="submit">Добавить новость</button>
    </div>
  </form>
{% endblock %}
