<div class="list-group">
  {% for item in categories %}
    <a
      href="{{ item.get_absolute_url }}"
      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      {{ item.title }}
      <span class="badge bg-primary rounded-pill">{{ item.cnt }}</span>
    </a>
  {% endfor %}
</div>
