{% extends 'base.html' %}

{% block title %}
  Регистрация | {{ block.super }}
{% endblock %}

{% block sidebar %}
  {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
  <h1>Регистрация</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-grid gap-2">
      <button class="btn btn-primary btn-block" type="submit">Регистрация</button>
    </div>
  </form>
{% endblock %}
