<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
{% load mptt_tags %}
<ul>
  {% recursetree rubrics %}
    <li>
      <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
      {% if not node.is_leaf_node %}
        <ul class="children">
          {{ children }}
        </ul>
      {% endif %}
    </li>
  {% endrecursetree %}
</ul>
</body>
</html>
