{% for item in news %}
  <div class="card mb-3">
    <div class="card-header">
      Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          {% if item.photo %}
            <img class="img-fluid" src="{{ item.photo.url }}" alt="" width="350">
          {% else %}
            <img class="img-fluid" src="https://picsum.photos/id/1060/350/235/?blur=2" alt="">
          {% endif %}
        </div>
        <div class="col-8">
          <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">
            {{ item.title }}
          </h5>
          <p class="card-text">{{ item.content|safe|linebreaks|truncatewords:50 }}</p>
          <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      {{ item.created_at|date:"d.m.Y H:i" }}
    </div>
  </div>
{% empty %}
  Oops...
{% endfor %}
